pkgbase = crosstool-ng-git
	pkgdesc = A cross-platform open-source toolchain system (git)
	pkgver = 1.25.0.r155.g1adc236e
	pkgrel = 1
	url = http://www.crosstool-ng.org/
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = autoconf
	makedepends = binutils
	makedepends = bison
	makedepends = flex
	makedepends = git
	makedepends = gcc
	makedepends = gperf
	makedepends = patch
	makedepends = libtool
	makedepends = make
	makedepends = tar
	makedepends = texinfo
	makedepends = wget
	makedepends = xz
	makedepends = unzip
	makedepends = help2man
	makedepends = dos2unix
	makedepends = automake-wrapper
	makedepends = ncurses-devel
	makedepends = gettext-devel
	depends = ncurses
	depends = rsync
	depends = libintl
	replaces = crosstool-ng
	options = staticlibs
	options = strip
	source = crosstool-ng::git+https://github.com/crosstool-ng/crosstool-ng.git#branch=master
	source = 0002-Add-new-gmp-patches.patch
	source = 0003-Add-new-gcc-patches.patch
	source = 0004-Add-new-newlib-patches.patch
	sha256sums = SKIP
	sha256sums = 8ca11b022a033816c498695d2ccd551126b3cb66967e15c70de27dfe7d5453bf
	sha256sums = aac206bef981f37bcd9dedefa6eb7d384a575240a6ab32b0a0b939147ef2db45
	sha256sums = c8c6b814a2ca156e70ad6e654b77d2b2bad416b6fec5a68d2e2530a4f9ef9b20

pkgname = crosstool-ng-git
